@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
        background-color: #F3F3EE;
    }

    .bord-top {
        border-top: 10px solid #1a3743;
    }


    .head-text-color{
        color: #7EA684;
    }

    .log-color {
        color: #1a3743;
    }
    .log-color-hover {
        color: #21718D;
    }

    .nav-links-color {
        color: #21718D;
    }

    .nav-links-hover-color {
        color: #1a3743;
    }

    .nav-border {
        border-image: 
          linear-gradient(
            to bottom, 
        rgb(156 163 175), 
        #F3F3EE
          ) 1 100%;
      }

    .form-border{
        border-radius: 0;
        border: 3px solid #79A2B2;
        display: inline-block;
    }

    .search-form-border{
        border-radius: 0;
        border: 3px solid #79A2B2;
        display: inline-block;
    }

    .input-color{
        background-color:#21718D;
    }

    .quote-paragraph::before {
        content: "“";
        @apply text-xl font-bold; 
       }
       
       .quote-paragraph::after {
        content: "”";
        @apply text-xl font-bold; 
       }

    .page-link {
        @apply underline underline-offset-4 decoration-2 decoration-blue-400 hover:decoration-blue-600;
    }

    .bg-tag {
        background-color: #1a3743;
    }

    .tag-item {
        @apply border p-1 log-color
    }

    .tag-item:hover {
        @apply  hover:text-white hover:bg-tag;
    }

    /* Timeline Properties */
    
    .tln img {
        @apply w-28 h-auto mx-2;
    }

    .nav-container li a {
        @apply hover:bg-gray-50;
    }

    .tln .round-img{
        @apply w-52;
    }

    .tln li p span{
        @apply font-semibold leading-relaxed inline-block w-32 text-left underline decoration-dashed underline-offset-4 decoration-gray-400 mx-2;
    }

    .tln li {
        @apply  bg-red-300 border; 
    }

}