<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SimonCollinson | PageName</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="bord-top">
    <div class="container w-11/12 mx-auto">
        <header class="w-full">
            <nav class="w-full">
                <!-- Logo and grid icons -->
                <div class="flex justify-between w-full items-baseline py-7">
                    <div class="pt-5 font-sans">
                        <div><h1 class="text-3xl"><a class="log-color hover:log-color-hover" href="#">Simon Collinson</a></h1></div>
                        <div><p class="head-text-color italic font-semibold text-sm"><span>Well-meaning waffle since 2003.</span></p></div>
                    </div>
                    <div class="w-10 md:hidden">
                        <ul class="grid grid-cols-2 grid-rows-2 gap-2">
                            <li ><a href="" class="archive-box">
                                <svg class="w-4 h-4" width="550px" height="550px" viewBox="0 0 550 550" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <title>Artboard Copy 4</title>
                                    <g id="Artboard-Copy-4" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect id="Rectangle-Copy-2" stroke="#21718D" stroke-width="55" x="27.5" y="27.5" width="495" height="133" rx="18"></rect>
                                        <rect id="Rectangle-Copy-4" stroke="#21718D" stroke-width="55" x="53.5" y="160.5" width="443" height="362" rx="18"></rect>
                                        <rect id="Rectangle-Copy-5" stroke="#21718D" stroke-width="55" x="187.5" y="278.5" width="176" height="109" rx="18"></rect>
                                    </g>
                                </svg>
                            </a></li>
                            <li><a href="">
                                <svg class="w-4 h-4" width="550px" height="550px" viewBox="0 0 550 550" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <title>Artboard Copy 9</title>
                                    <g id="Artboard-Copy-9" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Group" transform="translate(-59.000000, 449.000000)"></g>
                                        <circle id="Oval" stroke="#21718D" stroke-width="55" cx="275" cy="237" r="70"></circle>
                                        <path d="M275.5,516 C415.833333,423.509379 486,335.842712 486,253 C486,128.735931 391.75594,28 275.5,28 C159.24406,28 65,128.735931 65,253 C65,335.842712 135.166667,423.509379 275.5,516 Z" id="Oval-Copy" stroke="#21718D" stroke-width="55"></path>
                                    </g>
                                </svg>
                            </a></li>
                            <li><a href="">
                                <svg class="w-4 h-4" width="550px" height="550px" viewBox="0 0 550 550" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <!-- Generator: Sketch 62 (91390) - https://sketch.com -->
                                    <title>Artboard Copy 5</title>
                                    <desc>Created with Sketch.</desc>
                                    <g id="Artboard-Copy-5" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Group" transform="translate(295.000000, 295.000000) scale(-1, 1) translate(-295.000000, -295.000000) translate(32.000000, 32.000000)">
                                            <circle id="Oval" stroke="#21718D" stroke-width="61.174575" cx="328.464394" cy="197.5" r="197.5"></circle>
                                            <polygon id="Rectangle" fill="#21718D" transform="translate(129.669715, 400.497924) rotate(-44.000000) translate(-129.669715, -400.497924) " points="13.1697148 367.606619 246.169715 367.606619 246.169715 433.389228 13.1697148 433.389228"></polygon>
                                            <path d="M47.4237716,446 C65.2732964,446 79.7431952,460.469899 79.7431952,478.319424 L79.7431952,480.463185 C79.7431952,498.31271 65.2732964,512.782609 47.4237716,512.782609 C29.5742468,512.782609 15.104348,498.31271 15.104348,480.463185 L15.104348,478.319424 C15.104348,460.469899 29.5742468,446 47.4237716,446 Z" id="Rectangle" fill="#21718D" transform="translate(47.423772, 479.391304) rotate(44.000000) translate(-47.423772, -479.391304) "></path>
                                        </g>
                                    </g>
                                </svg>
                            </a></li>
                            <li><a href="">
                                <svg class="w-4 h-4" width="550px" height="550px" viewBox="0 0 550 550" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <!-- Generator: Sketch 62 (91390) - https://sketch.com -->
                                    <title>Artboard Copy 7</title>
                                    <desc>Created with Sketch.</desc>
                                    <g id="Artboard-Copy-7" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon id="Triangle" stroke="#21718D" stroke-width="55" stroke-linejoin="round" transform="translate(275.500000, 198.500000) scale(-1, -1) translate(-275.500000, -198.500000) " points="275.5 68 525 329 26 329"></polygon>
                                        <rect id="Rectangle-Copy-2" stroke="#21718D" stroke-width="55" x="27.5" y="64.5" width="495" height="414" rx="18"></rect>
                                    </g>
                                </svg>
                            </a></li>
                        </ul>
                    </div>
                </div>

                <div class="nav-container flex justify-between border-t-2 border-gray-400 ">     
                        <div class="w-full md:w-1/2">
                            <ul class="text-sm font-bold flex justify-between ">
                                <li class="hidden md:block border-l-2 nav-border w-full"><a class="pt-2 pb-3 nav-links-color hover:nav-links-hover-color flex justify-center" href="">HOME</a></li>
                                <li class="border-l-2 nav-border w-full"><a class="  nav-links-color hover:nav-links-hover-color pt-2 pb-3 w-full flex justify-center" href="">ARTICLES</a></li>
                                <li class="border-l-2 nav-border w-full"><a class=" nav-links-color hover:nav-links-hover-color px-1 pt-2 pb-3 flex justify-center" href="">STREAM</a></li>
                                <li class="border-l-2 nav-border w-full"><a class=" nav-links-color hover:nav-links-hover-color px-1 pt-2 pb-3 flex justify-center" href="">WORK</a></li>
                                <li class="border-l-2 border-r-2  nav-border w-full"><a class="nav-links-color hover:nav-links-hover-color px-1 pt-2 pb-3 flex justify-center" href="">ABOUT</a></li>
                            </ul>
                        </div>
                        
                        <div>
                            <ul class=" text-sm font-bold flex justify-between ">
                                <li class="hidden md:block border-l-2 nav-border w-full "><a href="" class="px-1 pt-3 pb-3 flex justify-end">
                                    <svg class="w-4 h-4" width="550px" height="550px" viewBox="0 0 550 550" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <title>Artboard Copy 4</title>
                                        <g id="Artboard-Copy-4" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect id="Rectangle-Copy-2" stroke="#21718D" stroke-width="55" x="27.5" y="27.5" width="495" height="133" rx="18"></rect>
                                            <rect id="Rectangle-Copy-4" stroke="#21718D" stroke-width="55" x="53.5" y="160.5" width="443" height="362" rx="18"></rect>
                                            <rect id="Rectangle-Copy-5" stroke="#21718D" stroke-width="55" x="187.5" y="278.5" width="176" height="109" rx="18"></rect>
                                        </g>
                                    </svg>
                                </a></li>

                                <li class="hidden md:block border-l-2 nav-border w-full"><a class="px-1 pt-3 pb-3 flex justify-end" href="">
                                    <svg class="w-4 h-4" width="550px" height="550px" viewBox="0 0 550 550" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <title>Artboard Copy 9</title>
                                        <g id="Artboard-Copy-9" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <g id="Group" transform="translate(-59.000000, 449.000000)"></g>
                                            <circle id="Oval" stroke="#21718D" stroke-width="55" cx="275" cy="237" r="70"></circle>
                                            <path d="M275.5,516 C415.833333,423.509379 486,335.842712 486,253 C486,128.735931 391.75594,28 275.5,28 C159.24406,28 65,128.735931 65,253 C65,335.842712 135.166667,423.509379 275.5,516 Z" id="Oval-Copy" stroke="#21718D" stroke-width="55"></path>
                                        </g>
                                    </svg>
                                </a></li>
                                <li class="hidden md:block border-l-2 nav-border w-full"><a class="px-1 pt-3 pb-3 flex justify-end" href="">
                                    <svg class="w-4 h-4" width="550px" height="550px" viewBox="0 0 550 550" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <!-- Generator: Sketch 62 (91390) - https://sketch.com -->
                                        <title>Artboard Copy 5</title>
                                        <desc>Created with Sketch.</desc>
                                        <g id="Artboard-Copy-5" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <g id="Group" transform="translate(295.000000, 295.000000) scale(-1, 1) translate(-295.000000, -295.000000) translate(32.000000, 32.000000)">
                                                <circle id="Oval" stroke="#21718D" stroke-width="61.174575" cx="328.464394" cy="197.5" r="197.5"></circle>
                                                <polygon id="Rectangle" fill="#21718D" transform="translate(129.669715, 400.497924) rotate(-44.000000) translate(-129.669715, -400.497924) " points="13.1697148 367.606619 246.169715 367.606619 246.169715 433.389228 13.1697148 433.389228"></polygon>
                                                <path d="M47.4237716,446 C65.2732964,446 79.7431952,460.469899 79.7431952,478.319424 L79.7431952,480.463185 C79.7431952,498.31271 65.2732964,512.782609 47.4237716,512.782609 C29.5742468,512.782609 15.104348,498.31271 15.104348,480.463185 L15.104348,478.319424 C15.104348,460.469899 29.5742468,446 47.4237716,446 Z" id="Rectangle" fill="#21718D" transform="translate(47.423772, 479.391304) rotate(44.000000) translate(-47.423772, -479.391304) "></path>
                                            </g>
                                        </g>
                                    </svg>
                                </a></li>
                                <li class="hidden md:block border-l-2 border-r-2 nav-border w-full"><a class="px-1 pt-3 pb-3 flex justify-end" href="">
                                    <svg class="w-4 h-4" width="550px" height="550px" viewBox="0 0 550 550" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <!-- Generator: Sketch 62 (91390) - https://sketch.com -->
                                        <title>Artboard Copy 7</title>
                                        <desc>Created with Sketch.</desc>
                                        <g id="Artboard-Copy-7" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <polygon id="Triangle" stroke="#21718D" stroke-width="55" stroke-linejoin="round" transform="translate(275.500000, 198.500000) scale(-1, -1) translate(-275.500000, -198.500000) " points="275.5 68 525 329 26 329"></polygon>
                                            <rect id="Rectangle-Copy-2" stroke="#21718D" stroke-width="55" x="27.5" y="64.5" width="495" height="414" rx="18"></rect>
                                        </g>
                                    </svg>
                                </a></li>

                            </ul>
                        </div>
                    </ul>
                </div>
            </nav>
        </header>

        <main class="w-full pb-14 font-sans"> 
            {{> content}}
        </main>

        <footer class="w-full border-t-2 border-gray-400 px-4">
            <div class="w-full flex flex-col justify-start gap-5  md:flex-row text-xl font-semibold">
                <div class="mt-9 leading-relaxed md:w-1/3 w-full">
                    <h3 class="log-color">FOLLOW ME OR EMAIL</h3>
                    <p>Links for my personal accounts.</p>
                    <div class="w-full flex justify-start gap-3 mt-7 flex-wrap">
                        <a href="">
                            <figure>
                                <img class="w-8 h-8" src="./img/mastodon.png" alt="mastodon" >
                            </figure>
                        </a>
                        <a href="">
                            <figure>
                                <img class="w-8 h-8" src="./img/twitter.png" alt="twitter" >
                            </figure>
                        </a>
                        <a href="">
                            <figure>
                                <img class="w-8 h-8" src="./img/instagram.png" alt="instagram" >
                            </figure>
                        </a>
                        <a href="">
                            <figure>
                                <img class="w-8 h-8" src="./img/band-camp.png" alt="bandcamp" >
                            </figure>
                        </a>
                        <a href="">
                            <figure>
                                <img class="w-8 h-8" src="./img/dribble.png" alt="dribble" >
                            </figure>
                        </a>
                        <a href="">
                            <figure>
                                <img class="w-8 h-8" src="./img/linkedin.png" alt="linkedin" >
                            </figure>
                        </a>
                        <a href="">
                            <figure>
                                <img class="w-8 h-8" src="./img/circle.png" alt="email" >
                            </figure>
                        </a>
                    </div>
                </div>
    
                <div class="mt-9 leading-relaxed md:w-1/3">
                    <h3 class="log-color">FOLLOW SITE NONSITE</h3>
                    <p >Links for my music/art projects.</p>
                    <div class="w-full flex justify-start gap-3 mt-7 flex-wrap">
                        <a href="">
                            <figure>
                                <img class="w-8 h-8" src="./img/mastodon.png" alt="mastodon" >
                            </figure>
                        </a>
                        <a href="">
                            <figure>
                                <img class="w-8 h-8" src="./img/twitter.png" alt="twitter" >
                            </figure>
                        </a>
                        <a href="">
                            <figure>
                                <img class="w-8 h-8" src="./img/instagram.png" alt="instagram" >
                            </figure>
                        </a>
                        <a href="">
                            <figure>
                                <img class="w-8 h-8" src="./img/band-camp.png" alt="bandcamp" >
                            </figure>
                        </a>
                        <a href="">
                            <figure>
                                <img class="w-8 h-8" src="./img/spotify.png" alt="spotify" >
                            </figure>
                        </a>
                        <a href="">
                            <figure>
                                <img class="w-8 h-8" src="./img/apple-music-logo-clipart-playlist-3.png" alt="apple music" >
                            </figure>
                        </a>
                        <a href="">
                            <figure>
                                <img class="w-8 h-8" src="./img/Soundcloud-Logo-Png-Transparent-Background.png" alt="sound cloud" >
                            </figure>
                        </a>
                    </div>
                </div>
    
                <div class="mt-9 leading-relaxed w-full md:w-1/4">
                    <h3 class="log-color">SUBSCRIBE</h3>
                    <p>I’ll send you something every once in a while.</p>
                    <form action="" class="form-border flex  mt-7">
                        <input type="email" placeholder="Email address" class="w-4/5 p-2">
                        <button class="input-color w-1/5 text-white">
                            ⟶ 
                        </button>
                    </form>
                    <p class=" mt-2"><a class="page-link" href="">Now powered by Buttondown.</a></p>
                </div>
            </div>

            <div class="w-full border-t-2 border-gray-400 px-4 mt-10 py-16">
                <h3 class="font-bold leading-loose">MISS THE OLD SITE?</h3>
                <p class="italic font-semibold text-lg leading-loose">
                    <a class="page-link" href="">V4 design is archived here.</a>
                </p>
                <p class="leading-loose italic font-semibold text-lg text-wrap">
                    <span class="quote-paragraph">Don’t make that masterpiece go away. We have so little left of what was glorious.</span> <span>-</span> <span><a class="page-link" href="">Zeldman</a></span>
                </p>
            </div>

            <div class="w-full border-t-2 border-gray-400 px-4 mt-10 py-16 text-sm leading-loose">
                <p class="footer-copyright">© 2003–2024 Simon Collison <span class="footer-bullet">&#8226;      <span> 
                    <a class="page-link" href="">RSS feed</a> 
                    <span class="footer-bullet">&#8226;</span>
                    Built with<a class="page-link" href="">Kirby</a> <span class="footer-bullet">&#8226;</span> Tracked with <a class="page-link" href="">Fathom</a>  <span class="footer-bullet">&#8226;</span> Hosted by <a class="page-link" href="">Guru</a> <span class="footer-bullet">&#8226;</span> <a class="page-link" href="">Buy me a coffee</a> or <a href="">donate</a>  <span class="footer-bullet">&#8226;</span> <a class="page-link" href="">Versioned with Github</a> <span class="footer-bullet">&#8226;</span> Find me on <a class="page-link" href="">Mastodon</a>.</p>
                    <p class="footer-info">Books linked on my site may earn me a commission from indie-supporting bookshop.org. <a class="page-link" href="">Visit my book store</a>.
                </p>    
            </div>
            
        </footer>

    </div>
</body>
</html>